html{
    direction: rtl;
}
input{
    text-align: left;
}
.container-login50,.container-register50{
    float: right;
    width: 50%;
    padding: 20px;
    min-height: 650px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("../img/bg-01.jpg") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wrap-login50,.wrap-register50 {
    width: 500px;
    background: white;
    padding-right: 10%;
    padding-left: 10%;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #1d2124;
}
.input100{
    height: 30px;
}
.register100-form {
    width: 100%;
}